@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "highlight.js/styles/github-dark.css";

@theme {
  --font-sans: var(--font-space-grotesk), system-ui, sans-serif;
  --font-mono: var(--font-jetbrains-mono), monospace;
  --font-armenian: var(--font-noto-armenian), sans-serif;

  /* Brand */
  --color-accent: #6c63ff;
  --color-accent-dark: #534ab7;
  --color-accent-tint: #eeedfe;

  /* Light mode */
  --color-bg: #f8f8fc;
  --color-surface: #ffffff;
  --color-subtle: #f4f4fc;
  --color-border: #e2e2ee;
  --color-text: #0f0f14;
  --color-muted: #5a5a72;

  /* Dark mode */
  --color-bg-dark: #0f0f14;
  --color-surface-dark: #16161e;
  --color-subtle-dark: #1e1e2a;
  --color-border-dark: #2a2a3a;
  --color-text-dark: #f0f0ff;
  --color-muted-dark: #9898b8;
}

@layer base {
  :root {
    color-scheme: light;
    --bg: var(--color-bg);
    --accent: var(--color-accent);
    --surface: var(--color-surface);
    --subtle: var(--color-subtle);
    --border: var(--color-border);
    --text: var(--color-text);
    --muted: var(--color-muted);
  }

  .dark {
    color-scheme: dark;
    --bg: var(--color-bg-dark);
    --accent: var(--color-accent);
    --surface: var(--color-surface-dark);
    --subtle: var(--color-subtle-dark);
    --border: var(--color-border-dark);
    --text: var(--color-text-dark);
    --muted: var(--color-muted-dark);
  }
  body {
    font-family: var(--font-sans);
    font-size: 16px;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* code,
pre,
kbd {
  font-family: var(--font-mono);
  font-feature-settings:
    "liga" 1,
    "calt" 1;
}
:not(pre) > code {
    font-size: 0.875em;
    padding: 0.15em 0.4em;
    border-radius: 4px;
    background: #f1f0ff;
    color: #534AB7;
  }

  pre {
    font-size: 0.9rem;
    line-height: 1.65;
    padding: 1.25rem 1.5rem;
    border-radius: 10px;
    overflow-x: auto;
  } */

  :lang(hy) {
    font-family: var(--font-armenian);
    line-height: 1.8;
    word-spacing: 0.05em;
  }

  :lang(hy) code,
  :lang(hy) pre {
    font-family: var(--font-mono);
  }
}
